@keyframes pulsate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

.about {
  background-color: #0a2850;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.about__title {
  padding: 100px 0 0 80px;
  margin: 0;
  max-width: 251px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  position: relative;
  white-space: normal;
}

.about__content {
  padding: 0 80px 173px 0;
  max-width: 660px;
  margin-left: auto;
  position: relative;
  top: -85px;
}

.about__paragraph {
  margin: 0;
  padding-bottom: 20px;
  font-family: "Noto Serif", Times New Roman, serif;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.about__paragraph:last-child {
  padding: 0;
}

.about__circle {
  background: #2f80ed;
  border-radius: 50%;
  height: 426px;
  width: 426px;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: -1;
}

.about__circle_animation_blurred {
  animation-name: pulsate;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
