.header {
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: #ffffff;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  z-index: 1;
}

.header__title {
  max-width: 729px;
  margin: 0;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  padding-top: 202px;
  padding-left: 80px;
  position: relative;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin: 0;
  font-family: "Noto Serif", Times New Roman, serif;
  font-size: 20px;
  line-height: 30px;
  padding-top: 28px;
  padding-left: 80px;
  position: relative;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
  z-index: -1;
}

.header__footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 0;
  bottom: 40px;
  left: 80px;
  right: 80px;
  font-weight: 500;
  color: #838383;
}

.header__paragraph {
  margin: 0;
}
