.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #FFFFFF;
}

.background_header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  column-gap: 20px;
  padding: 0;
  margin: 30px 80px 0 0;
}

.header__title span{
  display: block;
}